.form__inner {
    border: 0;
}

.form__button {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
    background: #242121;
    border: 0px;
    padding: 17px 70px 17px 70px;
    cursor: pointer;
}

.form__title {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        background: #FCBB08;
        width: 60px;
        height: 4px;
        top: 80px;
        left: 0px;
    }
}

.send__user::placeholder {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 3.70909px;
    color: #B8B8B8;
}

input[type=text] {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    color: #242121;
    letter-spacing: 1.2px;
}

input[type=email] {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    color: #242121;
    letter-spacing: 1.2px;
}

textarea[id=text] {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    color: #242121;
    letter-spacing: 1.2px;
}

.send__user {
    border: 0px;
    background-color: transparent;
    border-bottom: 2px solid #373A39;
    padding: 0px 85px 0px 0px;
}

.send__item input {
    outline: none;
    padding: 0px 157px 10px 0px;
}

.send__item textarea {
    outline: none;
    resize: none;
    overflow: hidden;
}

.send__item {
    padding: 5px 0px 0px 0px;
}

.contact__wraper {
    background-image: url(../img/map.png);
    background-repeat: no-repeat;
    width: 100%;
    background-position: right;
}

.contact__wraper .container {
    padding: 65px 0px 162px 0px;

}

.contact {
    padding-top: 70px;
}

.send {
    padding-top: 95px;
    padding: 95px 0px 40px 0px;
}

@media (max-width: $tablet-width) {

    .send__item input {
        padding: 0px 81px 10px 0px;
    }

    .send__item textarea {
        padding: 0px 9px 0px 0px;
    }

    .send__user::placeholder {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 3.70909px;
        color: #7c7272;
    }


}

@media (min-width: $desktop-width) {
    .contact__wraper .container {
        padding: 65px 0px 162px 255px;
    }
}